{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<hr>
<div class="container h-100">
    <div class="row h-100">
        <div class="col-sm-12 col-md-6 my-auto">
            <h1 class="display-4 main-text">
                Welcome to our site!
            </h1>
        </div>
        <div class="col-sm-12 col-md-6 my-auto">
            <img class="home-image"
                src="https://matt-katie-milestone-4.s3.eu-west-2.amazonaws.com/static/site_images/home-image.JPG"
                alt="Matt&Katie Welcome you!">
        </div>
    </div>
</div>

{% endblock %}