{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2>Gallery</h2>
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for image in images %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                <a href="{{ image.image.url }}" target="_blank">
                                    <img class="img-fluid card-image" src="{{ image.image.url }}" alt="{{ image.name }}">
                                </a>
                                <div class="card-body pb-0">
                                    <p class="mb-0">{{ image.name }}</p>
                                </div>
                                {% if request.user.is_superuser %}
                                    <small class="ml-3">
                                        <a href="{% url 'edit_image' gallery_id=image.id %}">Edit</a> |
                                        <a class="text-danger" href="{% url 'delete_image' gallery_id=image.id %}">Delete</a>
                                    </small>
                                {% endif %}
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}