<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="main-text font-weight-bold nav-link text-black mr-5" href="#" id="portfolio-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Portfolio
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="portflio-link">
                <a href="" class="dropdown-item">Aerial Photography</a>
                <a href="" class="dropdown-item ">Ground Photography</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="main-text font-weight-bold nav-link text-black mr-5" href="#" id="portfolio-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="portflio-link">
                <a href="{% url 'products' %}?category=drone_photography" class="dropdown-item">Shop Aerial Photography</a>
                <a href="{% url 'products' %}?category=ground_photography" class="dropdown-item ">Shop Ground Photography</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="main-text font-weight-bold nav-link text-black mr-5" href="#" id="blog-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="blog-link">
                <a href="" class="dropdown-item">Photography Tips</a>
                <a href="" class="dropdown-item">Travel</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="main-text font-weight-bold nav-link text-black mr-5" href="#" id="about-us-link">
                Contact Us
            </a>
        </li>

        <li class="nav-item">
            <a class="main-text font-weight-bold nav-link text-black" href="#" id="contact-us-link">
                About Us
            </a>
        </li>
    </ul>
</div>