{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="product-header col text-center mt-3">
            <h2>Welcome to our Blog</h2>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            {% for post in posts %}
            <div class="col-sm-12 card mb-4 top">
                <div class="card-body blog-post">
                    <h3> {{ post.title }}</h3>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    <a href="{% url 'post_detail' post.id  %}" class="btn btn-black rounded-4">Read More &rarr;</a>
                </div>
                {% if request.user.is_superuser %}
                <small class="ml-3">
                    <a href="{% url 'edit_post' post_id=post.id %}">Edit</a> |
                    <a class="text-danger" href="{% url 'delete_post' post_id=post.id %}">Delete</a>
                </small>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}