{% extends "base.html" %}
{% load static %}

{% block content %}
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="product-header col text-center mt-3">
            <h2 class="main-text">Contact Us</h2>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" value="submit" class="btn btn-black rounded-4 text-uppercase float-right">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}