{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<hr>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h2 class="display-4 main-text text-black">
                    Your query has been sent!
                </h2>
            </div>
            <div class="col-5 col-md-6 my-auto">
                <p>Thank you for getting in touch, we aim to respond promptly.</p>
                <a href="{% url 'home' %}" class="btn btn-black rounded-4 my-2">
                    <span class="icon mr-2">
                        <i class="fas fa-home"></i>
                    </span>
                    <span class="text-uppercase">Return to Home</span>
                </a>
            </div>        
        </div>
    </div>

{% endblock %}