{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<hr>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h2 class="display-4 main-text text-black">
                    Your query has been sent!
                </h2>
            </div>
            <div class="col-5 col-md-6 my-auto">
                <p class="main-text">Thank you for getting in touch, we aim to respond promptly.</p>
            </div>        
        </div>
    </div>

{% endblock %}