{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<hr>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h2 class="mb-4">About Us</h2>
        </div>
    </div>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-sm-12 col-md-6 my-auto">
                <p>
                    I'm Matt,My interest came from simply having a phone with a camera. Over time as technology improved
                    so did picture quality. The fascination came from how a range of technology can contribute
                    differently to the final outcome of an image. Which is why he specializes in drone photography
                    because it brings a whole new perspective to what you see in your everyday life.
                </p>
            </div>
            <div class="col sm-12 col-md-6 my-auto">
                <img class="home-image" src="/static/site_images/home-image.JPG" alt="Mateusz Chocianowski">
            </div>
        </div>
        <div class="row h-100">
            <div class="col sm-12 col-md-6 my-auto">
                <img class="home-image" src="/static/site_images/home-image.JPG" alt="katie Spowart">
            </div>
            <p>
                I'm Katie,Photography became my lifeline and my only interest during sixth form. After
                realising my eye for it I turned that into a degree from Norwich University of the Arts, with my
                main focus being on abandoned buildings and military sites. I have ventured into other areas such as
                portraiture but very rarely landscapes (unless they contained some sort of derelict building!)
                landscape photography is my current project, the summer scenes are too beautiful not to snap.
            </p>
        </div>
        <div>
            <p>
                Both Katie and I (Matt) share a similar passion for imagery, whether it’s from a Drone, GoPro or a
                trusty old DSLR if it takes a picture, it has our attention!
                Together during the last year, we have realised that our skills could be combined into teaching and
                showing each other our own styles and interest to create a series of images that can complement our
                works.
                With lots of walks and adventures we would love to show you the landscapes that we have discovered
                on our travels. Matt&Katie.com is designed to showcase our images with no distractions and we hope
                you love them as much as we do.
            </p>
        </div>
    </div>

    {% endblock %}